<h1>Your score</h1>
<p>********Now your score***********</p>
<p>Your word: <%= @guess %></p>
<p>Time taken to answer: <%= @time %> </p>
<p>Your score is: <%= @result[:score] %></p>
<p>Message: <%= @result[:message] %></p>

